<div class="column is-3 ">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a class="is-active">Dashboard</a></li>
            <!--TODO: implement settings -->
            <li><a href="admin/">Settings</a></li>
        </ul>
        <!-- TODO Implement admin panel -->
        <p class="menu-label">
            Administration
        </p>
        <ul class="menu-list">
            <li><a>Cloud Environments</a></li>
            <li><a href="./payments.html">Payments</a></li>
            <li><a>Reports</a></li>
        </ul>
    </aside>
</div>
